# Importation des données

In [11]:
from pandas import DataFrame, read_csv

In [12]:
df = read_csv('givemecredit-trainfull.csv', index_col=0)
df2 = read_csv('givemecredit-test.csv', index_col=0)

In [13]:
df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

# Affiche des statistiques sur les valeurs dans les colonnes

In [14]:
df.describe()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

## Affiche le 1er input et features associées

In [15]:
df.iloc[0]

SeriousDlqin2yrs                           1.000000
RevolvingUtilizationOfUnsecuredLines       0.766127
age                                       45.000000
NumberOfTime30-59DaysPastDueNotWorse       2.000000
DebtRatio                                  0.802982
MonthlyIncome                           9120.000000
NumberOfOpenCreditLinesAndLoans           13.000000
NumberOfTimes90DaysLate                    0.000000
NumberRealEstateLoansOrLines               6.000000
NumberOfTime60-89DaysPastDueNotWorse       0.000000
NumberOfDependents                         2.000000
Name: 1, dtype: float64

## Affichage d'une colonne

In [16]:
df['MonthlyIncome']

1          9120.0
2          2600.0
3          3042.0
4          3300.0
5         63588.0
           ...
149996     2100.0
149997     5584.0
149998        NaN
149999     5716.0
150000     8158.0
Name: MonthlyIncome, Length: 150000, dtype: float64

# Traitement des features

## Modification des contenus vide (NA)

In [17]:
df['MonthlyIncome_sansna'] = df['MonthlyIncome'].fillna(0)
df2['MonthlyIncome_sansna'] = df2['MonthlyIncome'].fillna(0)

In [18]:
df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_sansna
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,9120.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,2600.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,3042.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,3300.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,63588.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,2100.0
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,5584.0
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0,0.0
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,5716.0
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,8158.0

## Création d'un masque pour voir des inputs avec certaines caractéristiques

In [19]:
mask = df['MonthlyIncome'].isna()
mask

1         False
2         False
3         False
4         False
5         False
          ...
149996    False
149997    False
149998     True
149999    False
150000    False
Name: MonthlyIncome, Length: 150000, dtype: bool

## Afficher une plage de données

In [20]:
df['MonthlyIncome'][95:105]

96     6500.0
97        NaN
98     5714.0
99     2900.0
100    7500.0
101       NaN
102    4000.0
103    2690.0
104    4908.0
105    8333.0
Name: MonthlyIncome, dtype: float64

## Afficher le masque

In [21]:
mask[95:105]

96     False
97      True
98     False
99     False
100    False
101     True
102    False
103    False
104    False
105    False
Name: MonthlyIncome, dtype: bool

## Application du masque

In [22]:
df.loc[mask,'MonthlyIncome_sansna']

7         0.0
9         0.0
17        0.0
33        0.0
42        0.0
         ...
149977    0.0
149978    0.0
149985    0.0
149993    0.0
149998    0.0
Name: MonthlyIncome_sansna, Length: 29731, dtype: float64

In [23]:
df['MonthlyIncome_sansna'][95:105]

96     6500.0
97        0.0
98     5714.0
99     2900.0
100    7500.0
101       0.0
102    4000.0
103    2690.0
104    4908.0
105    8333.0
Name: MonthlyIncome_sansna, dtype: float64

In [24]:
df['MonthlyIncome'][96]

6500.0

## Afficher les titres de colonnes

In [25]:
df.columns

Index(['SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents', 'MonthlyIncome_sansna'],
      dtype='object')

## Calcul sur de nouvelle colonnes

In [26]:
df['Sum'] = df['NumberOfTime30-59DaysPastDueNotWorse'] + df['NumberOfTime60-89DaysPastDueNotWorse'] + df['NumberOfTimes90DaysLate']
df2['Sum'] = df2['NumberOfTime30-59DaysPastDueNotWorse'] + df2['NumberOfTime60-89DaysPastDueNotWorse'] + df2['NumberOfTimes90DaysLate']

In [27]:
df['IncomePerPerson'] = df['MonthlyIncome']/(df['NumberOfDependents']+1)
df2['IncomePerPerson'] = df2['MonthlyIncome']/(df2['NumberOfDependents']+1)
df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_sansna,Sum,IncomePerPerson
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,9120.0,2,3040.000000
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,2600.0,0,1300.000000
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,3042.0,2,3042.000000
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,3300.0,0,3300.000000
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,63588.0,1,63588.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,2100.0,0,2100.000000
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,5584.0,0,1861.333333
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0,0.0,0,NaN
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,5716.0,0,5716.000000
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,8158.0,0,8158.000000

In [28]:
df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,MonthlyIncome_sansna,Sum,IncomePerPerson
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,9120.0,2,3040.000000
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,2600.0,0,1300.000000
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,3042.0,2,3042.000000
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,3300.0,0,3300.000000
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,63588.0,1,63588.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,2100.0,0,2100.000000
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,5584.0,0,1861.333333
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0,0.0,0,NaN
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,5716.0,0,5716.000000
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,8158.0,0,8158.000000

# Exportation des dataframes pour la prochaine étape

In [29]:
df.to_csv('fulltrain_mod.csv')
df2.to_csv('test_mod.csv')